*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}


.social__link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  transition: all .3s linear;
}

.social__link:hover{
  border-color: #FF4343;
}

.social__link path{
  transition: all .3s linear;
}

.social__link:hover path{
  fill:#FF4343;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 38px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__container::before {
  content: '';
  position: absolute;
  border-bottom: 1px solid #BABBC5;
  display: block;
  width: 100%;
  left: 0;
  bottom: -35px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  width: 100%;
  max-width: 183px;
  display: flex;
}

.header__icon{
  width: 100%;
  height: auto;
}

.header__list {
  display: flex;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__link{
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
  min-width: 134px;
  display: block;
  text-align: center;
}

.header__link::after{
  content: "";
  height: 3px;
  background-color: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -40px;
  transition: 0.3s linear;
}

.header__linkk:hover{
  color: #FF4343;
}

.header__link:hover::after{
  width: 100%;
}

/*BANNER*/

.banner{
  padding: 230px 0 120px;
  position: relative;
  background-image: url(../img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 116px;
}

.banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}

.banner__container {
  position: relative;
  text-align: center;
}

.banner__title {
  max-width: 100%;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  margin: 0 0 31px;
  color: #fff;
  text-transform: uppercase;
}

.banner__description {
  max-width: 1000px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin: 0 auto 81px;
}

.banner__btn{
  display: inline-block;
  padding: 26px;
  max-width: 370px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
}

.btn--color{
  background-color: #FF4343;
  transition: 0.3s;
}

.btn--color:hover{
  box-shadow: 4px 4px 30px 0px #FF4343;
}

/*FEATURES*/

.features{
  margin-bottom: 136px;
}

.features__container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 31px;
  row-gap: 87px;
}

.feature__wrap-img{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px;
}

.feature__img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.feature__title{
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 43px;
  text-transform: uppercase;
}

.feature__description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #6C7279;
}

/*WORKS*/

.works {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 117px;
}

.work {
  padding-top: 89.3%;
  overflow: hidden;
  position: relative;
}

.work__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #FF4343CC;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.work__title{
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #fff;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.work__description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}

.work:hover .work__info{
  opacity: 1;
}

/*OUR TEAM*/
.team{
  margin-bottom: 114px;
}

.team__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.team__icon{
  cursor: pointer;
}

.member__wrapper-img {
  position: relative;
  padding-top: 100%;
  margin-bottom: 30px;
}
.member__img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member__title {
  margin-bottom: 8px;
  color: #2D3033;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
}

.member__position{
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FF4343;
  text-transform: uppercase;
}

.member__description {
  margin-bottom: 38px;
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.member__icons {
  display: flex;
  column-gap: 6px;
}



/*REVIEWS*/

.reviews{
  background-color: #5C3249;
  margin-bottom: 178px;
}

.review{
  display: flex;
  flex-wrap: wrap;
}

.review__wrapper-img{
  width: 49%;
  position: relative;
}

.review__img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  object-fit: cover;
}

.review__content{
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 133px 80px 121px 40px;
}

.review__info{
  max-width: 470px;
}

.review__title{
  color: #FFF;
  font-family: 'Cardo', sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 49px;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.review__desc{
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
}

/*DOWNLOAD*/
.download {
  margin-bottom: 114px;
  text-align: center;
}

.download__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 23px;
}

.download__description {
  margin-bottom: 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.download-btn{
  padding: 25px;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 370px;
  background-color: #FF4343;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover{
  box-shadow: 4px 4px 30px 0px #FF4343;
}
/*FOOTER*/

.footer__top {
  background-color: #353C65;
  padding-top: 71px;
  padding-bottom: 67px;
}

.footer__bottom {
  background-color: #2C3154;
}

.footer__items{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.footer__title{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
  margin-bottom:29px;
  text-transform: uppercase;
}

.footer__desciption{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-transform: capitalize;
}

.footer__icons{
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 27px;
}


.footer__bottom{
  padding: 25px 0;
}

.footer__copyrights-container {
  max-width: 404px;
}

.footer__copyrights{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #808080;
  width: 370px;
}

.footer__copyrights span{
  color: #fff;
}


.burger{
  display: none;
}

@media (max-width:1024px){
  .nav__link{
    font-size: 12px;
  }
  .banner__title{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
  .banner__description{
    font-size: 18px;
    line-height: 21px;
    padding: 0 15px;
    margin-bottom: 89px;
  }
  .banner__btn{
    padding: 32px 65px;
  }
  .features__card-el{
    max-width: 314px;
  }
  .features__icon{
    width: 85px;
    height: 85px;
  }
  .features__title{
    font-size: 18px;
    line-height: 21px;
  }
  .features__description{
    font-size: 14px;
    line-height: 16px;
  }
  .works__about{
    max-width: 256px;
    max-height: 230px;
  }
  .team__block{
    max-width: 1024px;
  }

  .team__block-el{
    max-width: 227px;
  }
.team__img{
  width: 100%; 
}
.team__dev{
  font-size: 14px;
  line-height: 16px;
}

.team__desc{
  font-size: 14px;
  line-height: 16px;
}

  .team__title{
    font-size: 18px;
    line-height: 21px; 
  }
.team__icon{
  width: 33px;
  height: 33px;
}
.reviews__content{
  padding: 104px 88px 150px 104px;
  height: 332px;
  text-transform: capitalize;
}
.reviews__images{
  height: 332px;
}
.reviews__title{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 15px;
}
.reviews__desc{
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
}

@media (max-width:900px){
  .header__nav{
    display: none;
  }
  .burger{
    display: block;
  }
}

@media (max-width:768px){
  .banner__title{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 32px;
  }
  .banner__description{
    font-size: 14px;
    line-height: 16px;
    text-align: center;  
    margin-bottom: 50px;  
  }
  .header__inner{
    border: none;
  }
  .banner__btn{
  padding: 23px 45px;
  font-size: 24px;
  line-height: 28px;  
  }
}