*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #BABBC5;
}

.header__logo{
  cursor: pointer;
}

.header__nav {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  gap: 50px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link{
  text-decoration: none;
  color: #fff;
  position: relative;
  padding: 0 10px;
}

.nav__link::after{
  content: "";
  height: 3px;
  width: 100%;
  background-color: #FF4343;
  box-shadow: 4px 4px 30px 0px #FF4343;
  position: absolute;
  width: 0;
  left: 0;
  bottom: -50px;
  transition: 0.3s linear;
}

.nav__link:hover{
  color: #FF4343;
}

.nav__link:hover::after{
  width: 100%;
}

/*BANNER*/

.banner{
  padding: 100px;
  position: relative;
  background-image: url('../img/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}

.banner__inner{
  position: relative;
  max-width: 100%;
  text-align: center;
}

.banner__title {
  max-width: 100%;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  margin: 130px 0 31px;
  color: #fff;
}

.banner__description {
  max-width: 100%;
  padding: 0 85px; /*крутой макет*/
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 80px;
  color: #fff;
}

.banner__btn{
  display: inline-block;
  padding: 30px 90px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
}

.btn--color{
  background-color: #FF4343;
  transition: 0.3s;
}

.btn--color:hover{
  box-shadow: 4px 4px 30px 0px #FF4343;
}

/*FEATURES*/

.features__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 116px;
}

.features__icon{
  margin-bottom: 60px;
}

.features__card-el {
  max-width: 370px;
  margin-bottom: 85px;
}

.features__title{
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.features__description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #6C7279;
}

/*WORKS*/

.works__content {
  display: flex;
  flex-wrap: wrap;
}

.works__about {
  width: 25%;
  height: 340px;
  overflow: hidden;
  position: relative;
  border: 1px solid #fff;
}

.works__about-pic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.works__color-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #FF4343CC;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.color__title{
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #fff;
  margin-bottom: 42px;
}

.color__desc{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}

.works__about:hover .works__color-card{
  opacity: 1;
}

/*OUR TEAM*/


.team__block {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 115px 0px;
}

.team__block-el {
  width: 270px;
  margin: 0 15px;
}

.team__block-el:first-child{
  margin-left: 0;
}

.team__block-el:last-child{
  margin-right: 0;
}

.team__icon{
  cursor: pointer;
}

.team__img {
  margin-bottom: 30px;
}

.team__title {
  margin-bottom: 5px;
  color: #2D3033;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.team__dev {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FF4343;
  text-transform: uppercase;
}

.team__desc {
  margin-bottom: 38px;
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

/*REVIEWS*/

.reviews{
  background-color: #5C3249;
}

.reviews__item{
  display: flex;
  flex-wrap: wrap;
}

.reviews__images{
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__pic{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.reviews__content{
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 116px 170px 144px 129px;
}

.reviews__title{
  color: #FFF;
  font-family: 'Cardo', sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 30px;
}

.reviews__desc{
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
}

/*DOWNLOAD*/

.download__inner{
  margin: 115px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 30px;
}

.download__desc {
  margin-bottom: 47px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.download-btn{
  padding: 33px 85px;
  background-color: #FF4343;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}

.download-btn:hover{
  box-shadow: 4px 4px 30px 0px #FF4343;
}
/*FOOTER*/

.footer__top {
  background-color: #353C65;
  padding-top: 82px;
  padding-bottom: 67px;
}

.footer__bottom {
  background-color: #2C3154;
}


.footer__top-items{
  display: flex;
  text-align: center;
}

.footer__top-item{
  width: 400px;
}

.footer__top__title{
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
  margin-bottom: 30px;
}

.footer__top__desc{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-transform: capitalize;
  padding: 0 5px;
}

.footer__icons{
  margin-right: 23px;
  cursor: pointer;
}

.footer__icons:last-child{
  margin-right: 0;
}

.footer__bottom{
  padding: 25px 0;
}

.footer__bottom-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__bottom__copyrights{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #808080;
  width: 370px;
}

.footer__bottom__copyrights span{
  color: #fff;
}

.socialicon{
  transition: 0.2s;
}

.socialicon:hover{
  fill: #FF4343;
}

.burger{
  display: none;
}

@media (max-width:1024px){
  .nav__link{
    font-size: 12px;
  }
  .banner__title{
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
  .banner__description{
    font-size: 18px;
    line-height: 21px;
    padding: 0 15px;
    margin-bottom: 89px;
  }
  .banner__btn{
    padding: 32px 65px;
  }
  .features__card-el{
    max-width: 314px;
  }
  .features__icon{
    width: 85px;
    height: 85px;
  }
  .features__title{
    font-size: 18px;
    line-height: 21px;
  }
  .features__description{
    font-size: 14px;
    line-height: 16px;
  }
  .works__about{
    max-width: 256px;
    max-height: 230px;
  }
  .team__block{
    max-width: 1024px;
  }

  .team__block-el{
    max-width: 227px;
  }
.team__img{
  width: 100%; 
}
.team__dev{
  font-size: 14px;
  line-height: 16px;
}

.team__desc{
  font-size: 14px;
  line-height: 16px;
}

  .team__title{
    font-size: 18px;
    line-height: 21px; 
  }
.team__icon{
  width: 33px;
  height: 33px;
}
.reviews__content{
  padding: 104px 88px 150px 104px;
  height: 332px;
  text-transform: capitalize;
}
.reviews__images{
  height: 332px;
}
.reviews__title{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 15px;
}
.reviews__desc{
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
}

@media (max-width:900px){
  .header__nav{
    display: none;
  }
  .burger{
    display: block;
  }
}

@media (max-width:768px){
  .banner__title{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 32px;
  }
  .banner__description{
    font-size: 14px;
    line-height: 16px;
    text-align: center;  
    margin-bottom: 50px;  
  }
  .header__inner{
    border: none;
  }
  .banner__btn{
  padding: 23px 45px;
  font-size: 24px;
  line-height: 28px;  
  }
}